@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/*PARAMETRES GENERAUX */

body {
	font-size: 100%;
	margin: 0;
	box-sizing: border-box
}

/*COULEURS PERSONNALISES */
.bgRougeVerisure {
	background-color: #ed002f;
}

.bgBleuVerisure{
	background-color: #0060C7 ;
}

.textBleuVerisure{
	color: #0060C7 ;
}

.textViolet{
	color:#6967CE;
}
.bgViolet{
	background-color:#6967CE;
}

.textRougeVerisure{
	color: #ed002f;
}

.bgDarkGreyVerisure {
	background-color: #262626;
}

.textDarkGreyVerisure{
	color:#262626;
}

.bgVertVerisure{
	background-color: #00a37d;
}

.textVertVerisure{
	color: #00a37d;
}

.bgJauneVerisure{
	background-color: #cfb92b;
}

.textJauneVerisure{
	color: #cfb92b;
}

.bgLightGreyVerisure {
	background-color: #636466;
}

.textLightGreyVerisure {
	color: #636466;
}

.textVeryLightGreyVerisure {
	color: rgba(99, 100, 102, 0.25)
}

.textDarkGreyVerisure{
	color:#0F0F0F;
}

.font-S{
	font-size: 1.2rem;
}
.font-M{
	font-size: 1.5rem;
}
.font-L{
	font-size: 2rem;
}
.font-icon{
	font-size: 2.2rem;
}

.cursorPointerOn{
	cursor: pointer;
}
/* Add new offer */
#key-datas h2 {
	font-size: 2.5rem;
}
#key-datas h4 {
	font-size: 2rem;
	color: grey;
}
#key-datas .newKeyData button{
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

#key-datas .newKeyData button:active,
#key-datas .newKeyData button:visited{
	border:none;
}

/* Table des Key datas */
#key-datas #table-keyDatas{
	border-collapse: collapse ;
	background-color: white;
	border-radius: 10px;
	width: 90%;
	/*border: 1px solid darkgrey;*/
}

#key-datas .infoInput {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#key-datas .infoInput p{
	margin-bottom: 0;
}

#key-datas .infoInput .fa-exclamation {
	margin-right: 5px;
}

/*Ajout d'une key data */
#key-datas #addNewKeyData{
	outline: none;
}
.addAnimation {
	animation: myAnim 1s ease 0s 1 normal forwards;
}
#key-datas #addNewKeyData p {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
}

#key-datas .addNewLineContent{
	width: 100%;
}

#key-datas .addNewLineForm{
	display: flex;
}

#key-datas .addNewLineContent button{
	border:none;
	color:white;
	background-color: transparent;
}

#key-datas .addNewLineContent button{
	outline: unset;
}

#key-datas .addNewLineContent button .font-icon{
	font-size: 2.5rem;
}
/* Table */
#key-datas #table-keyDatas .form-control {
	background: none;
	border: none;
	border-bottom: 1px solid grey;
	font-size: 1.2rem;
	letter-spacing: 1px;
	font-weight: 500;
	color: #212529;
}

#key-datas #table-keyDatas .form-control:read-only{
	background: #e9ecef73;
	color: grey;
	border-bottom: 1px solid #e9ecef73
}

#key-datas #table-keyDatas .form-control:focus{
	box-shadow: none;
}

#key-datas .paginate {
	width: 90%;
}
#key-datas .paginate p>* {
	font-size: 1.2rem;
	background-color:white;
	border: 1px solid #e9ecef73;
	padding: 0.5rem;
	color: #636466;
	font-weight: 500;
}

#key-datas .paginate p strong{
	color: #0060C7;
	font-weight: bold;
	text-decoration: underline;
}
/**************************/
/* GESTION RESPONSIVE */

@media all and (max-width: 1440px) {
	#key-datas #table-keyDatas{
		width: 100%;
	}

}
@media all and (max-width: 1024px){
	#key-datas #table-keyDatas .form-control{
		font-size: 1rem;
	}
}

/**************************/
/* ANIMATION */
@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
